body {
    font-family: 'Helvetica';
  }
  .blockCart {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0rem;
    margin-left: 0.5rem;
    margin-right: 40px;
    border-radius: 0.5rem;
    max-width: 30%;
    flex: 2;
  }
  .blockCart h1,
  .blockCart h2,
  .blockCart h3 {
    margin: 0.5rem 0;
  }
  .blockCart h1 {
    font-size: 1.5rem;
  }
  .blockCart  h2 {
    font-size: 1.2rem;
  }
  .blockCart  h3 {
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }
  .blockCart .rowCart {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 1rem;
    margin-bottom: 10px;
  }
  .blockCart .rowCart.center {
    align-items: center;
  }
  .blockCart .col-1 {
    flex: 1;
  }
  .blockCart .col-2 {
    flex: 2;
  }

  .blockCart .text-right {
    text-align: right;
    margin-right: 3rem;
  }
  .blockCart .text-left {
    text-align: left;
    margin-right: 3rem;
  }
  .blockCart img.small {
    max-height: 8rem;
  }
  .blockCart button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
  }
  .blockCart button.add {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  .blockCart button.remove {
    background-color: #f04040;
    width: 1.5rem;
  }
  .blockCart button.clear {
    background-color: gray;
    width: 4rem;
  }
  .blockCart button.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }